body {
    font-family: 'Oswald', sans-serif;
}
.container {
    width: 1300px;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100px;
}
.a__href {
    text-decoration: none;
    color: dodgerblue;
}
.main__html {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: rgb(246, 242, 242);
    padding: 20px;
}
.image__contact {
    width: 80px;
}
.btn__href{
    text-decoration: none;
    color: dodgerblue;
    width: 100px;
    height: 40px;
    border: 2px solid rgb(135, 193, 250);
    border-radius: 5px;
    background: none;
}
.main__html section:nth-child(1) {
    width: 30%;
    height: 450px;
    margin: 0;
}
.form-controll {
    border: 1px solid rgb(136, 136, 136);
    outline: none;
    margin-right: 10px;
}
#div__con {
    position: relative;
    width: 60%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    height: 190px;
}
.vinh__p {
    padding-left: 9px;
    font-size: 23px;
    color: black;
}
.member__p {
    font-size: 10px;
    color: rgb(136, 136, 136);
    position: absolute;
    right: 20%;
    top: 30%;
}
.d-f__btn {
    position: absolute;
    bottom: 20%;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
}
.p__viet {
    position: absolute;
    bottom: 30px;
    font-size: 10px;
    color: rgb(136, 136, 136);
}
.p__sliver {
    position: absolute;
    font-size: 13px;
    bottom: 40px;
}
#div__con div:nth-child(1) {
    width: 50%;
}
.btn__info {
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    font-size: 12px;
}
.info__bt-1 {
    width: 200px;
    background-color: #fff;
    padding: 5px;
}
.main__html section:nth-child(2) {
    width: 40%;
    height: 430px;
    background-color: #fff;
    margin: 0;
    padding: 12px;
}
.pay__info {
    color: dodgerblue;
    font-size: 26px;
}
.dep__with {
    color: rgb(136, 136, 136);
    font-size: 15px;
}
.input__btn-1 {
    width: 50px;
}
.btn__dep {
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    height: 26px;
    font-size: 13px;
}
input {
    outline: none;
}
.balance_1 {
    height: 450px;
    background-color: #fff;
    width: 200px;
    text-align: center;
    color: dodgerblue;
}