div {
    position: relative;
    background-color: none;
    border: 5px solid black;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    background-color: none;
    border: 5px black solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.span {
    position: absolute;
    background-color: black;
    width: 10px;
    height: 10px;
    right: 40px;
    top: 20px;
}